data/raw_data/*.jpg
data/raw_data/*.xml
data/resized/
data/resized2/train/*.jpg
data/resized2/test/*.jpg
data/resized2/validation/*.jpg
data/small_dataset_train.zip
env
camille/.ipynb_checkpoints/
camille/data/
leonardo/.ipynb_checkpoints/
leonardo/data
leonardo/images
leonardo/*.pth
leonardo/plots/*.png
*.pth
leonardo/NN Transfer Learning (Resnet 34).ipynb
leonardo/Neural Style Transfer (Random fun stuff).ipynb
debug.log
.ipynb_checkpoints
plots
models